
body{
    background-color: lightsteelblue;
}


header{
    background-color: rgb(102, 128, 243);
    color: rgb(71, 69, 69);
    margin-top: 0;
    text-align: center;
}

h1 {
    font-size: 70px;
    text-align: center;
}
#navigation{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 35px;

}
li:hover{
    cursor: pointer;
    font-style: underline;
    text-decoration: underline;    

}
.subtitle{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 35px;
    background-color: rgb(179, 214, 245);
    font-size: 45px;
    color: rgb(40, 73, 48);
    text-align: center;
}

main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
section{
    flex: 200px;
    background-color: rgb(125, 127, 240);
    padding: 40px;
    font-size: 24px;
}